{
  "check-coverage": true,
  "all": true,
  "lines": 0,
  "reporter": [
    "lcov",
    "text",
    "text-summary"
  ],
  "instrument": false,
  "sourceMap": false,
  "require": [
    "./test/setup.js"
  ],
  "report-dir": "./coverage"
}
